<%= form_with(model: pet, local: true) do |f| %>
  <% if pet.errors.any? %>
    <div class="error-messages">
      <% pet.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :chip_id %>
    <%= f.text_field :chip_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :date_of_birth %>
    <%= f.date_field :date_of_birth, class: 'form-control' %>
  </div>

  <div class="form-group" data-controller="species-search">
    <%= f.label :species %>
    <%= text_field_tag :species_search, pet.species&.name, 
        class: 'form-control',
        data: { 
          species_search_target: "input",
          action: "input->species-search#search blur->species-search#createNew"
        } %>
    <%= f.hidden_field :species_id, data: { species_search_target: "hiddenInput" } %>
    
    <div class="species-results hidden" data-species-search-target="results"></div>
  </div>

  <div class="form-group">
    <%= f.label :vaccination_status %>
    <%= f.check_box :vaccination_status, class: 'form-checkbox' %>
  </div>

  <div class="form-group">
    <%= f.label :image_link %>
    <%= f.url_field :image_link, class: 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
    <%= link_to 'Back', pets_path, class: 'btn btn-secondary' %>
  </div>
<% end %> 